* {
  margin: 0;
  padding: 0;
}

.app {
  justify-content: center;
}

.board {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(100px, auto);
}

.tile {
  display: block;
  border: 1px solid gray;
  text-align: center;
  margin: 2px;
  width: 50px;
  height: 50px;
}

/* tile colors */
.zero {
  color:  rgb(202, 193, 181);
  background-color: rgb(202, 193, 181);
}
.two {
  background-color: rgb(236, 228, 219);
}
.four {
  background-color: rgb(235,224,203);
}
.eight {
  background-color: rgb(233,180,130);
}
.sixteen {
  background-color: rgb(235,224,203);
}
.thirty-two {
  background-color: rgb(232,131,103);
}
.sixty-four {
  background-color: rgb(230,104,72);
}
.one-hundred-twenty-four {
  background-color: rgb(232,208,128);
}
.two-hundred-fifty-six {
  background-color: rgb(233,204,114);
}
.five-hundred-twelve {
  background-color: rgb(235,224,203);
}
.one-thousand-twenty-four {
  background-color: rgb(232,197,89);
}