@import url('https://fonts.googleapis.com/css2?family=B612+Mono:wght@700&display=swap'); 

/* remove any conditional browser padding */
* {
  margin: 0;
  padding: 0;
}

/* main application container */
.app {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-content: center;
}

/* The game container houses the board, score, and 
 * controls, this should be centered in the screen */
.game_container {
 display: flex;
 justify-content: center;
}


/* align the board and the control panels horizontallly */
.board_container {
  display: flex;
  justify-content: center;
}

/* align all the children (buttons) within the  control 
 * pannel excluding 150px of padding on either side */
.controlPanel {
  display: flex; 
  flex-direction: column;
  justify-content: space-evenly;
}

/* add a better font to the buttons within the 
 * control pannel and change the font to make 
 * it a bit fancier, and now let the buttons grow
 * within their container, but never let them g
 * grow beyond 100px */
.controlPanel > button {
  font-family: 'B612 Mono', monospace;
  flex: 1;
  min-width: 80px;
  max-width: 100px;
  margin: 0.5rem;
}

/* push all the other buttons in the control
 * panel a little to the right (50px) to visually 
 * distinguish between move related buttons and 
 * new/start game functionality */
.start_button {
  margin-bottom: 1rem;
}

/* display the tiles in a grid of 4 columns 
 * and 4 rows with 0.05 fractional units between
 * each tile vertically and horizontally, 
 * and an additional white margin of 1 rem 
 * around the board */
.board {
  display: grid;
  grid-template-columns: repeat(4, 0.05fr);
  grid-template-rows: repeat(4, 0.05fr);
  margin: 1rem;
}


/* use a nicer font (cheers google fonts)
 * and make it a it biggger to make game play easier.
 * each tile will have an solid gray edge of 1 px 
 * with 1 rem of padding between the tile and 
 * the edge of the element to make things a bit easier
 * on the eyes. Set each element to have a fixed 
 * ratio for the with but scale with the font size 
 * in a square fashion (1rem) */
.tile {
  font-family: 'B612 Mono', monospace;
  font-size: large;
  display: block;
  border: 1px solid gray;
  padding: 1rem;
  margin: 0.1rem;
  text-align: center;
  width: 1rem;
  height: 1rem;
}

/* header should use the cool font that is being used 
 * in the other components, and should be large since its 
 * the header */
.header {
  font-family: 'B612 Mono', monospace;
  font-size: xx-large;
  display: flex;
  padding: 0 150px;
  justify-content: center;
}



/* tile colors */
.zero {
  color:  rgb(202, 193, 181);
  background-color: rgb(202, 193, 181);
}
.two {
  background-color: rgb(236, 228, 219);
}
.four {
  background-color: rgb(235,224,203);
}
.eight {
  background-color: rgb(233,180,130);
}
.sixteen {
  background-color: rgb(235,224,203);
}
.thirty-two {
  background-color: rgb(232,131,103);
}
.sixty-four {
  background-color: rgb(230,104,72);
}
.one-hundred-twenty-four {
  background-color: rgb(232,208,128);
}
.two-hundred-fifty-six {
  background-color: rgb(233,204,114);
}
.five-hundred-twelve {
  background-color: rgb(235,224,203);
}
.one-thousand-twenty-four {
  background-color: rgb(232,197,89);
}