@import url('https://fonts.googleapis.com/css2?family=B612+Mono:wght@700&display=swap'); 

/* remove any conditional browser padding and set a default font */
* {
  margin: 0;
  padding: 0;
  font-family: 'B612 Mono', monospace;
}

/* main application container */
.app {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-content: center;
}

/* The game container houses the board, score, and 
 * controls, this should be centered in the screen */
.game_container {
 display: flex;
 justify-content: center;
}


/* align the board and the control panels horizontallly */
.board_container {
  display: flex;
  justify-content: center;
}

/* align all the children (buttons) with even 
 * spacing between each element (button) */
.controlPanel {
  display: flex; 
  flex-direction: column;
  justify-content: space-evenly;
}

/* buttons within the control pannel should grow
 * within their container, but never let them 
 * get wider than 100px */
.controlPanel > button {
  flex: 1;
  min-width: 80px;
  max-width: 100px;
  margin: 0.5rem;
}

/* the start button (first child in the control panel)
 * should be have a little visual distinction seperating it from 
 * the game controls */
.controlPanel > button:first-child {
  margin-bottom: 1.5rem;
}

/* display the tiles in a grid of 4 columns 
 * and 4 rows with 0.05 fractional units between
 * each tile vertically and horizontally, 
 * and an additional white margin of 1 rem 
 * around the board */
.board {
  display: grid;
  grid-template-columns: repeat(4, 0.05fr);
  grid-template-rows: repeat(4, 0.05fr);
  margin: 1rem;
}


/* make the font biggger to enhance readability. 
 * add a solid gray border edge of 1 px solid gray 
 * place 1 rem of padding between the tile and 
 * the edge of the element to make things a bit easier
 * on the eyes. Set each element to have a fixed 
 * ratio for the with but scale with the font size 
 * in a square fashion (3 rem) */
.tile {
  font-size: x-large;
  display: block;
  border: 1px solid gray;
  padding: 2rem 2rem;
  margin: 0.1rem;
  text-align: center;
  min-width: 2rem;
  min-height: 2rem;
  max-width: 3rem;
  max-height: 3rem;
}

/* header should use the cool font that is being used 
 * in the other components, and should be large since its 
 * the header */
.header {
  font-family: 'B612 Mono', monospace;
  font-size: xx-large;
  display: flex;
  padding: 0 150px;
  justify-content: center;
}

/* space the items within the scoreboard 
 * evenly */
.scoreBoard {
  display: flex; 
  justify-content: space-around;
  padding: 25px 150px; 
}
/* Each stat should grow to fill the empty space 
 * and the children elements should be have space some 
 * space around them, but never stretch beyond 150px */
.stat { 
  display: flex;
  flex: 1;
  justify-content: space-around;
  max-width: 150px;
  margin: 0 1rem;
}
/* values displayed on the scoreboard should 
 * appear a little differently than their labels */
.stat:nth-of-type(odd) {
  color: darkorange;
  border-bottom: 1px solid gray;
}
.stat:nth-of-type(even) {
  color: darkred;
  border-bottom: 1px solid gray;
}





/* tile colors */
.zero {
  color:  rgb(202, 193, 181);
  background-color: rgb(202, 193, 181);
}
.two {
  background-color: rgb(236, 228, 219);
}
.four {
  background-color: rgb(235,224,203);
}
.eight {
  background-color: rgb(233,180,130);
}
.sixteen {
  background-color: rgb(235,224,203);
}
.thirty-two {
  background-color: rgb(232,131,103);
}
.sixty-four {
  background-color: rgb(230,104,72);
}
.one-hundred-twenty-four {
  background-color: rgb(232,208,128);
}
.two-hundred-fifty-six {
  background-color: rgb(233,204,114);
}
.five-hundred-twelve {
  background-color: rgb(235,224,203);
}
.one-thousand-twenty-four {
  background-color: rgb(232,197,89);
}